* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background: rgb(232, 252, 252);
  --primary: #00adad;
  --button: linear-gradient(0deg, rgb(1, 116, 116) 0%, rgb(95, 253, 253) 100%);
  --shadow: 0 0 3px var(--primary);
}

nav menu {
  list-style: none;
}

/* HEADER */

header {
  box-shadow: 0 0 3px var(--primary);
  color: var(--primary);
}
header form {
  width: fit-content;
  box-shadow: var(--shadow);
}

header form label {
  display: none;
}

header form input {
  padding: 0.2rem;
  outline: none;
  border: none;
}

header form button {
  border: none;
  background: var(--button);
  color: white;
  padding: 0.2rem;
  font-weight: bold;
}

header menu a {
  display: inline-block;
  font-size: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
}

header menu a[href*="wishlist"] {
  background-image: url("icons/heart.png");
}

header menu a[href*="cart"] {
  background-image: url("icons/cart.png");
}
header menu a[href*="profile"] {
  background-image: url("icons/user.png");
}

/* NAV*/

body > nav menu a {
  color: var(--primary);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

body > nav menu a:hover {
  background: var(--background);
}

/* MAIN */

main {
  background: var(--background);
  padding: 1rem;
}

article {
  background: white;
  box-shadow: var(--shadow);
  width: 10rem;
  height: 20rem;
  border-radius: 10px;
  overflow: hidden;
}

article img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

article *:not(img) {
  margin: 0.5rem 1rem;
}

article p.price {
  text-align: right;
}

/* Footer */

footer a {
  color: var(--primary);
}

@media (min-width: 600px) {
  /* HEADER */

  header {
    z-index: 1;
    padding: 0 2rem;
  }

  /* NAV */

  body > nav {
    padding-top: 1rem;
  }
}

/* cambios realizados  */

/* body {
  display: grid;
  gap: 2%;
  grid-auto-rows: minmax(50px auto);
  grid-template-columns: repeat(7 1fr);
  grid-template-areas:
    "header header header header header header header header"
    "nav nav nav nav nav"
    "main main main main main main"
    "footer footer footer footer";
} */

/* header {
  grid-area: header;
} */

/* nav {
  grid-area: nav;
}
main {
  grid-area: main;
}

footer {
  grid-area: footer;
} */

header menu a {
  display: flex;
  text-align: end;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

nav menu {
  width: 200px;
  display: flex;
}

header {
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  height: 200px;
  border: 20px;
  display: flex;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: first baseline;
}

main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 30px;
  grid-template-rows: 1fr 1fr 1fr;
}

@media screen and (min-width: 640px) {
  main {
    display: flex;
    flex-wrap: wrap;
    background-color: turquoise;
  }

  main article:nth-child(n + 5) {
    display: none;
  }
  main article:nth-child(n + 6) {
    display: none;
  }
  main article:nth-child(n + 7) {
    display: none;
  }
  article:nth-child(n + 8) {
    display: none;
  }

  main article:nth-child(n + 9) {
    display: none;
  }
  main article:nth-child(n + 10) {
    display: none;
  }

  header {
    justify-content: space-between;
    flex-direction: column;
  }
  menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 25% 50%;

    gap: 30px;
    grid-template-rows: 1fr 1fr 1fr;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50%;
    background-color: wheat;
  }

  header {
    justify-content: space-evenly;
  }

  menu {
    display: flex;
    flex-direction: column;
    justify-content: left;

    align-items: flex-start;
  }

  footer {
    align-items: flex-end;
    justify-content: space-evenly;
  }
}
