header {
  height: 70px;
  width: 1000px;
  background-color: dodgerblue;
  color: white;
  text-align: center;
}

h2 {
  color: dodgerblue;
}
.importante {
  font-weight: bold;
  text-decoration: underline;
}
#descanso {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  background-color: aqua;
}

li {
  list-style: circle;
}
table {
  margin: 10px;
  padding: 0;
  background-color: white;
  text-align: left;
  width: 80%;
}
th {
  text-align: left;
  background-color: lightblue;
  font-size: 20px;
}
td {
  background-color: deepskyblue;
}
th,
td {
  border: solid 1px black;
  padding: 20px;
}

thead {
  border-bottom: solid 5px;
  color: white;
}
